.popup__button {
  width: 100%;
  background: #000000;
  border-radius: 2px;
  padding: 14px 0;
  border: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

@media (max-width: 630px) {
  .popup__button {
    padding: 14px 0;
    font-size: 14px;
    line-height: 17px;
    }
}