.profile__button-edit {
  background-size: 10px;
  align-self: center;
  padding: 11px;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/profile-button-edit.svg);
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media (max-width: 920px) {
  .profile__button-edit {
    background-size: 7.5px;
    padding: 8px;
  }
}