.popup__input-item {
  border: 0;
  padding: 0;
  padding-bottom: 13px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
}

.popup__input-item:last-of-type {
  margin-bottom: 0;
}

.popup__input-item::placeholder {
  color: #000000;
}

popup__input-item::-moz-placeholder {
    color: #000000;
  }

  popup__input-item::-webkit-input-placeholder {
    color: #000000;
  }

.popup__input-item:focus {
  outline: none;
}

