.popup__button-exit {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  background-image: url(../../../images/popup-close-icon.svg);
  background-size: cover;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.popup__button-exit:hover {
  opacity: 0.6;
}

@media (max-width: 630px) {
  .popup__button-exit {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -36px;
  }
}