.elements {
  max-width: 880px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 282px);    
  gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 920px) {
  .elements {
    grid-template-columns: repeat(2, 282px);      
  }
}

@media (max-width: 630px) {
  .elements {
    grid-template-columns: 282px;      
  }
}