.profile__avatar-button-edit {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../../images/profile-button-edit.svg');    
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  padding: 60px;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

@media (max-width: 630px) {
  .profile__avatar-button-edit {
    left: calc(50vw - 60px);    
  }
} 