.elements__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/element-like.svg);
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

.elements__like:hover {
  opacity: 0.5;
}